@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fraunces", serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  .font-poppins{
    font-family: "Poppins", sans-serif !important;
  }
  .boxWidth {
    @apply xl:max-w-7xl w-full;
  }
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .flexStart {
    @apply flex justify-center items-start;
  }
  .paddingX {
    @apply sm:px-16 px-6;
  }
  .paddingY {
    @apply sm:py-16 py-6;
  }
  .padding {
    @apply sm:px-16 px-6 sm:py-12 py-4;
  }
  .marginX {
    @apply sm:mx-16 mx-6;
  }
  .marginY {
    @apply sm:my-24 my-6;
  }
  .section {
    @apply flex md:flex-row flex-col paddingY;
  }
  .sectionReverse {
    @apply flex md:flex-row flex-col-reverse paddingY;
  }
  .sectionImg {
    @apply flex-1 flex flexCenter  md:mt-0 mt-10 relative;
  }
  .sectionImgReverse {
    @apply flex-1 flex flexCenter  md:mt-0 mt-10 relative;
  }
  .sectionInfo {
    @apply flex-1 flexStart flex-col
  }
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #797979 !important;
  opacity: 1; /* Firefox */
  font-family: "Poppins", sans-serif !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #797979 !important;
  font-family: "Poppins", sans-serif !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #797979 !important;
  font-family: "Poppins", sans-serif !important;
}
